
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1A0621;
    color: #fff;
    margin: 0;
    padding: 20px;
}


.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
.highlight{
    color: #00ffff;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center; 
    align-items: center; 
}


.skills div {
    background-color: #2A0937;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.skills p {
    margin: 0;
    color: #fff;
}

.projects {
    background-color: #1f0229; 
    padding: 20px;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.section-title h2 {
    color: #fff; 
}

.project-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.project {
    background-color: #2A0937; 
    padding: 15px;
    border-radius: 5px;
    flex: 1;
}

.project h3 {
    color: #fff; 
}


.experience {
    background-color: #1f0229; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.section-title h2 {
    color: #fff; 
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.experience-item {
    background-color: #2A0937; 
    padding: 15px;
    border-radius: 5px;
    flex: 1;
}

.experience-item h3 {
    color: #fff; 
}


.myPrivateLife {
    background-color: #2A0937;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.myPrivateLife h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.myPrivateLife p {
    margin-bottom: 15px;
}

.myPrivateLife a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #42295C;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.myPrivateLife a:hover {
    background-color: #4F3369;
}

.contact-form {
    background-color: #2A0937;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #55466E;
    background-color: #3B1743;
    color: #fff;
}

.contact-form input[type="submit"] {
    background-color: #55466E;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #70598A;
}
